---
layout: default
title: Home
---

<!-- THIS IS THE END OF DEFAULT LAYOUT, BEGINNING OF INDEX/POST CONTENT -->
<div class="rowBoundingBox" id="headerNavRowWrapper">
  <div class = "columnBoundingBox" id="headerNavColumnWrapper">
    <a href="http://erectlocution.com"><img src="/images/masthead_final_090614_small.png" /></a>
  </div> <!-- end of columnBoundingBox -->
</div> <!-- end of rowBoundingBox -->
<div class="rowBoundingBox" id="featuredRowWrapper">
  <div class = "columnBoundingBox" id="featuredColumnWrapper">
    {% for post in site.posts offset: 0 limit: 1 %}
    <h2 class="postTitle">
        <a href="{{ post.url }}">{{ post.title }}</a>
    </h2>
    <div class="excerpt"><!--USING EXCERPT PLUGIN FROM stympy GIST-->
        <!-- WILL MERELY USE YAML-BASED EXCERPT, NO PLUGIN -->
        {% if post.excerpt %}
            {{ post.excerpt | markdownify}}
        {% else %}
            {{ content }}
        {% endif %}
    </div>
    <div class="postMeta">
        {{ post.date | date_to_string }}
    </div>
        <!-- the endfor would go here if I displayed the first post summary only --> 
  </div> <!-- end of columnBoundingBox -->
</div> <!-- end of rowBoundingBox -->
<!-- <div class="rowBoundingBox" id="blogTitleRowWrapper">
    <div class = "columnBoundingBox" id="blogTitleColumnWrapper"> -->
   <!-- <h4>ERECTLOCUTION</h4> -->
   <!-- THIS WILL NEED TO BE SHOWN ONLY IN THE INDEX TEMPLATE, NOT THE POST TEMPLATE -->
   <!-- <img style="margin: 15px 0px; padding: 0px;" src="/images/masthead_final_090614.png" /> -->
   <!-- </div> -- ><!-- end of columnBoundingBox -->
<!-- </div> -- > <!-- end of rowBoundingBox -->

<!-- ###### adding the full content of a single post here -->

  <div class="rowBoundingBox">
    <div class="columnBoundingBox">
      <div class="post">
          {{ post.content }}
      </div>
        <!-- the endfor would go here if I displayed the full first post--> 
        {% endfor %}
        <p id="qed">&#9744;</p>
    </div> <!-- end of columnBoundingBox -->
  </div> <!-- end of rowBoundingBox -->


<!-- <div class="rowBoundingBox" id="blogTitleRowWrapper">
    <div class = "columnBoundingBox" id="blogTitleColumnWrapper"> -->
   <!-- <h4>ERECTLOCUTION</h4> -->
   <!-- THIS WILL NEED TO BE SHOWN ONLY IN THE INDEX TEMPLATE, NOT THE POST TEMPLATE -->
<!-- >   <img style="margin: 15px 0px; padding: 0px;" src="/images/masthead_final_090614.png" /> 
 </div> <!-- end of columnBoundingBox -->
</div> --> <!-- end of rowBoundingBox -->

<!-- ###### /adding the full content of a single post here -->

<div class="rowBoundingBox interjectionRowWrapper">
  <div class="columnBoundingBox interjectionColumnWrapper">
    <div>
      <script language = "JavaScript">
        showQuotation();
      </script>
    </div>
  </div>  <!-- end of interjectionColumnWrapper -->
</div> <!-- end of rowBoundingBox -->

<div class="rowBoundingBox" id="recentRowWrapper">
 <div class="columnBoundingBox" id="recentColumnWrapper">
   <div id="recentTitleParagraph">
    {% for post in site.posts offset: 1 limit: 49 %}
     <div>
     <h2 class="postTitle">
        <a href="{{ post.url }}">{{ post.title }}</a>
     </h2>
     <p style="display: inline;">
        {{ post.date }}
     </p>
     </div>
     <!-- <span class="paraTitleSep">&#937;</span> -->
    {% endfor %} 
    {% for post in site.posts offset: 10 limit: 1 %}
     <div>
     <h2 class="postTitle">
        <a href="{{ post.url }}">{{ post.title }}</a>
     </h2>
     <p>
        {{ post.date }}
     <p style="display: inline;">
     </div>
    {% endfor %} 
   </div>
  </div>
</div>

<!-- THIS IS THE BEGINNING OF DEFAULT LAYOUT, END OF INDEX/POST CONTENT -->
